<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title%}{% endblock %}</title>
        <link rel="stylesheet" href="static/css/style.css">
        <script src="/static/scripts/jquery-3.7.1.min.js"></script>
        <script src="/static/scripts/menu.js"></script>
        <script src="/static/scripts/main.js"></script>
    </head>
    <body>
        <div id="ellipse"></div>
        <div id="ellipse2"></div>
        <div id="ellipse3"></div>

    {% block body%}{% endblock %}
    </body>
</html>