{% extends 'base.html'%}

{% block title %}Успех{% endblock %}

{% block body %}


        <header class="header_outer">
            <div class="header_inner responsive_wrapper">
                <div class="header_logo">
                    <img src="/static/images/logo.png" />
                </div>
                <nav class="header_navigation">
                    <a href="/">ГЛАВНАЯ</a>
                    <a href="/about">О НАС</a>
                    <a href="#">ОТЗЫВЫ</a>
                    <a href="/contacts">КОНТАКТЫ</a>
                </nav>
                <div class="header_number">8 800 000 0 0</div>
            </div>
        </header>

        <main>
            <div id="text1">Ваши данные успешно сохранены!</div>
        </main>

{% endblock %}